<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label for="username">Username:</label>
  <app-input
    [ngClass]="{ 'red-border': isInvalidUsername }"
    [control]="username"
    placeholder="Enter Username"
    type="text"
    name="username"
    id="username"
  ></app-input>
  <p *ngIf="showError" [innerHTML]="userNameError"></p>

  <label for="password">Password:</label>

  <app-input
    [ngClass]="{ 'red-border': isInvalidPassword }"
    [control]="password"
    placeholder="Enter Password"
    type="password"
    name="password"
    id="password"
  ></app-input>
  <p *ngIf="showError" [innerHTML]="passwordError"></p>

  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>
